/* 

  Selectores

  Son patrones que permiten seleccionar y aplicar estilos específicos a elementos de una página web.

  Tipos de Selectores

  1. Selectores Básicos

    - Selector Universal -> Selecciona todos los elementos de un documento
    - Selectores de Tipo -> Seleccionan un tipo de elemento de html

  2. Selectores de Clase

    Seleccionan los elementos que tiene una clase específica.

    Se usa la 'notación' de punto (.) antes del nombre de la clase.

    .nombreClase {
      propiedad: valor;
    }

  3. Selectores de ID

    Seleccionan un elemento único con un identificador específico.

    Se usa el la 'notación' de numeral (#) antes del nombre del id.

    #nombreId {
      propiedad: valor;
    }

  4. Selectores Combinados

    - Descendientes

      Seleccionan elementos dentro de otros elementos.

      elemento elementoInterno {
        propiedad: valor;
      }

    - Hijo directo

      Selecciona elementos que son hijos directos de un elemento padre.

      elemento > elementosHijos {
        propiedad: valor;
      }

    - Elemento Adjacente

      Selecciona el primer elemento inmediamente despúes de otro. (Su hermano inmediato o  en ingles Siblings)

      elemento + elementoAdjacente {
        propiedad: valor;
      }

    - Hermano general

      Selecciona todos los elmentos hermanos después de un elemento.

      elemento ~ elementoHermanos { 
        propiedad: valor;  
      }

  5. Selectores de Atributos

    - Atributo

    Selecciona elementos según el atributo que indiquemos. Sin importar su valor.

    elemento[atributo] {
      propiedad: valor;
    }

    - Atributo con Valor

    Selecciona elementos según el atributo y el valor que índiquemos.

    elemento[atributo=valor] {
      propiedad: valor;
    }

  6. Selectores Avanzados

    - Pseudo-clases

    Seleccionamos elementos en un estado en particular.

      elemento:pseudoclase {
        propiedad: valor;
      }

    - Pseudo-elementos

    Selccionan partes específicas de un elemento en html

      elemento::pseudoelemento {
        propiedad: valor;
      }

*/

/* Universal */

* {
  /* border: 2px solid red; */
  /* Resset Básico */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selectores de Tipo */

body {
  background-color: lightcyan;
}

h1 {
  color: darkblue
}

p {
  font-size: 24px;
}

header {
  background-color: lightgreen;
}


/* Selectores de Clase */

.content {
  background-color: darkslateblue;
  padding: 48px;
}

.hero {
  background-color: orange;
  padding: 24px;
}

.hero-title {
  background-color: darkmagenta;
  padding: 16px;
  color: whitesmoke;
  text-align: center;
}

/* Selector de Id */

#about-title {
  color: yellow;
  font-size: 72px;
}

/* Combinado - Elementos Decendientes */

aside section {
  background-color: green;
  padding: 48px;
}

.aside-section h3 {
  color: white;
  text-align: right;
  padding: 24px;
  background-color: lightcoral;
}


/* Combinados - Hijos Directos */

ul > li {
  background-color: lightblue;
}

.lista > li {
  font-size: 8px;
  color: darkblue;
}

/* Combinados - Elemento Adjacente */

h3 + ul {
  list-style: none;
}

.bro + li {
  background-color: red;
}

/* Combinados - Hermano General */

.bro + li ~ li {
  background-color: yellow;
}

.tercero ~ li {
  color: black;
  font-size: 40px;
}

/* Selectores de Atributo */

a[href] {
  display: block;
  text-decoration: none;
  color: magenta
}

/* Selectores de Atributo con Valor */

a[href="https://www.instagram.com"] {
  font-size: 48px;
  color: orangered;
}


/* Pseudo-clases */

a:hover {
  background-color: purple;
  color: white;
  text-decoration: underline;
}

a:focus {
  border: 10px solid red;
}

/* Pseudo-elementos */

a::after {
  content: "🔥";
}

a::before {
  content: "Este es un enlace hacia: ";
}