/* 

  Unidades de Medida en CSS

  Las unidades de medida en css se dividen en dos categorías principales.

  1. Unidades absolutas (valores fijos)

  Son medidas que mantienen sus valores fijos independientemente de dispositivo o contexto. Es decir que siempre tendrán el mismo valor sin importar el tamaño de pantalla o el elemento contenedor.

  Son útiles cuando se requiere precisión en las medidas, pero no son ideales para diseño web responsivo.

  La unidad más usada:

  - px (pixeles): Esta unidad marca un punto en la pantalla. 1/96 de 1in
  
  Otras unidades:

  - cm (centimetros) 1cm = 96px | 2.54in 
  - mm (milimetros)  1/10 de 1cm
  - in (pulgadas)    1in = 96px
  - pc (picas)       1/6 de 1in
  - pt (puntos)      1/72 de 1in

  2. Unidades relativas (valores variables)

  Son medidas que adaptan sus valores en función del dispositivo o contexto. Es decir que siempre se ajustarán su valor de acuerdo al tamaño de pantalla, al contenedor u otro valor de referencia.

  Son útiles cuando se necesita flexibilidad y son ideales para el diseño web responsivo.

  Las unidades más usadas son:

  - em   : relativa al tamaño de fuente del elemento padre en html.
  - rem  : relativa al tamaño de fuente del elemento root <html>
  - %    : porcentaje es relativo al elemento padre.
  - vw   : viewport width. Porcentaje relativo al ancho de la ventana.
  - vh   : viewport hegiht. Porcentaje relativo a la altura de la ventana.
  - vmin : viewport min. Porcentaje relativo al lado más pequeño de la ventana.
  - vmax : viewport max. Porcentaje relativo al lado más grande de la ventana.
  
  Otras unidades:

  - ex : es relativa a la altura de las 'x' minúsculas.
  - ch : es relativa al ancho del caracter '0'
  - lh : es relativa a la altura de la linea del elemento html. Leading o Interlineado, En CSS Line Height

*/

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: darkslateblue;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: whitesmoke;
}

section {
  margin: 40px 0;
  padding: 20px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: darkseagreen;
}

div {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  font-weight: bold;
  color: white;
}

/* Unidades Absolutas */

.absolute-box {
  border-radius: 24px;
}

.px {
  width: 100px;
  height: 100px;
  background-color: darkblue;
}

.cm {
  width: 2cm;
  height: 3.6cm;
  background-color: darkslategray;
}

.in {
  width: 1in;
  height: 0.5in;
  background-color: darksalmon;
}
