/* 

  Cascada y Epecificidad
 
  Se refieren a como el navegador decide aplicar los estilos.

    Cascada -> Orden de las reglas de CSS
    Especificidad -> Valor de las reglas de CSS

  ¿Qué es una regla de CSS?

  La combinación de sintaxis de un selector, sus propiedades y valores.

    selector {
      propiedad: valor;
    }

  + Cascada

  Si una selector se repite a lo largo del código, se aplicará la última regla escrita.

  + Especifidad

  El orden de importancia de los selectores. Del menos importante al más importante:

  5. Selector de elemento ->    1 
  4. Selector de clase    ->   10
  3. Selector de id       ->  100
  2. Estilos en línea     -> 1000
  1. !important           -> Vale todo!

  Si las reglas tienen la misma especificidad, se aplica la ultima que aparece en el documento. (Cascada)

*/


/* Cascada */

h1 {
  color: red;
}

h1 {
  color: blue;
}

/* Especifidad */

#title {
  color: darkblue;
}

.title {
  color: orangered;
}

h1 {
  color: green;
}

#title {
  color: chocolate;
}

h1 {
  color: blueviolet !important;
}