/* 

  Sintaxis

  La sintaxis se usa para definir estilos que se aplican a los elementos de una página web.

  Consta de 3 componentes principales

    selector {

      propiedad: valor; // ; después de cada valor 
      propiedad: valor // ; se puede omitir en la última propiedad
    
    }

*/

h1 {
  color: orange;
  font-size: 120px;
  font-family: sans-serif;
}