body {
  background-color: darkslateblue;
}

/* 

  Propiedades de texto estan relacionas con el estilo o formato de los textos.

  Permiten controlar su apariencia, alineación, espaciado y decoración.

  Principales

  color: -> Define el color del texto. Recibe diferentes tipos de valores: keywords, hexadecimal, rgb o rgba, hsl, transparent.
  
  font-family: -> Define la familia tipográfica del texto. Recibe los nombres de las familias, si son de dos palabras se escribe entre comillas. Acepta más de dos valores separados por coma "," como fuentes de respaldo.

  font-size: -> Define el tamaño del texto. Acepta valores en px, em y rem, pocentaje, terminos predefinidos.

  font-style: -> El estilo la fuente y recibe tres parametros normal, italic y oblique

  text-aling: -> Define la alineación del texto. Recibe los valores left, rigth, center, justify, start y end.

  text-decoration -> Añede una línea transversal al texto. Recibe los valores: none, underline, overline, line-through

  text-transform -> Controla la capitalización del texto. Recibe los valores: uppercase, lowercase y capitalize.

  line-height -> Espacio entre las líneas de texto. Recibe valores en px, %, em y rem, un valor sin unidad será relativo al tamaño de la fuente.

  letter-spacing -> Espacio entre letras. Recibe valores en px, em y rem y el valor normal

  word-spacing -> Espacio entre palabras. Recibe valores en px, em y rem y el valor normal

  text-shadow -> Sombra del texto. Recibe los valores en el siguiente orden: offset-x offset-y blur color

    10px 10px 10px red -> Derecha y Abajo

    -10px -10px 10px blue -> Izquierda y Arriba

*/

h1 {
  color: pink; /* Keywords */

  font-family: Impact, Helvetica;
  font-size: 100%; /* 16px = 100%*/
  font-size: xx-large;
  font-size: 72px;
  font-style: oblique;

  text-align: center; 
  text-decoration: underline;
  text-transform: lowercase;
  text-transform: uppercase;

  letter-spacing: 20px;
  letter-spacing: 1rem;
  letter-spacing: 2em;
  letter-spacing: -10px;
  letter-spacing: normal;

  text-shadow: 10px 10px 5px rgba(255, 0, 0, 0.231);  
}

p {
  color:beige; /* Keywords */

  font-family: 'Courier New', Tahoma;
  font-size: 24px;
  font-size: 100%;
  font-size: xx-large;
  font-style: left;

  text-align: justify;
  text-align: left;
  
  text-decoration: none;

  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;

  line-height: 24px;
  line-height: 150%;
  line-height: 4;
  line-height: 1rem;
  line-height: 1em;

  word-spacing: 60px;
  word-spacing: 2rem;
  word-spacing: 5em;
  word-spacing: normal;
}

.important {
  text-decoration: underline;
}

a {
  color: yellow;
  font-size: xx-large;
  text-decoration: none;
}